#mainFooter {
  bottom: 0;
  /* position: fixed; */
  width: 100%;
  height: 35%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: small;

  /* position: fixed; */
  left: 0;
  /* position: fixed; */

  text-align: center;
}
#fb {
  font-size: 40px;
  margin-right: 22px;
}
#f {
  margin-right: 45px;
}
#ff {
  height: 45px;
  width: 130px;
}
